body{
    background-color: #c8ecec;
    color: rgb(16, 70, 95);
}

h1{
    font-family: Comic Sans MS;
    text-align: center;
    
}

#username-container {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    flex-direction: column;
}

#username-input {
    border-radius: 5px;
    background-color: rgb(128, 197, 209);
    border-color: rgb(16, 70, 95);
    color: rgb(16, 70, 95);
    margin: 2px;
    padding: 5px;
    border-style: solid;
}

input {
    border-radius: 5px;
    background-color: rgb(128, 197, 209);
    border-color: rgb(16, 70, 95);
    color: rgb(16, 70, 95);
    margin: 2px;
    padding: 5px;
    border-style: solid;
}

::placeholder{
    color: rgb(16, 70, 95);
    font-family: Calibri;
    font-weight: 1000;
}

button {
    border-radius: 5px;
    background-color: rgb(128, 197, 209);
    border-color: rgb(16, 70, 95);
    color: rgb(16, 70, 95);
    padding: 4px;
    width: 50px;
    font-family: Calibri;
    border-style: solid;
    font-weight: 1000;
}

button:hover {
    background-color: rgb(16, 70, 95);
    color: rgb(128, 197, 209);
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    width: 100%;
}

canvas {
    width: 70vw;
    height: 70vw;
    max-width: 700px; 
    max-height: 700px;
    border: 5px solid rgb(16, 70, 95);
    background-color: white;
    border-radius: 5px;
}

